/arxiv_paper.aux
/arxiv_paper.bak*
/arxiv_paper.bbl
/arxiv_paper.blg
/arxiv_paper.fdb_latexmk
/arxiv_paper.fls
/arxiv_paper.log
/arxiv_paper.out
/arxiv_paper.pdf

/apj_paper.aux
/apj_paper.bak*
/apj_paper.bbl
/apj_paper.blg
/apj_paper.fdb_latexmk
/apj_paper.fls
/apj_paper.log
/apj_paper.out
/apj_paper.pdf

/mnras_paper.aux
/mnras_paper.bbl
/mnras_paper.blg
/mnras_paper.fdb_latexmk
/mnras_paper.fls
/mnras_paper.log
/mnras_paper.out
/mnras_paper.pdf

/indent.log
/%OUTDIR%/
/docx_build/node_modules/
